<layout-columns class="columns is-centered">
  <layout-clumn class="is-5 mt-6 p-5 m-4 column box">
    <h2 class="title has-text-centered">
      Edit <%= resource_name.to_s.humanize %>
    </h2>
    <%= form_for(resource, as: resource_name, class: "is-flex is-flex-direction-column", url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="block">
        <%= f.label :email, class: "label" %>
        <%= f.email_field :email, class: "input",autofocus: true, autocomplete: "email" %>
      </div>
    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    
      <div class="block">
        <%= f.label :password, class: "label" %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, class: "input", autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
    
      <div class="block">
        <%= f.label :password_confirmation, class: "label" %><br />
        <%= f.password_field :password_confirmation, class: "input", autocomplete: "new-password" %>
      </div>
    
      <div class="block">
        <%= f.label :current_password, class: "label" %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, class: "input", autocomplete: "current-password" %>
      </div>
    
      <div class="actions">
        <%= f.submit "Update", class: "button is-primary is-align-self-flex-end mb-3 mt-3" %>
      </div>
    <% end %>
    
    <h3>Cancel my account</h3>
    
    <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
    
    <%= link_to "Back", :back %>
  </layout-clumn>
</layout-columns>




