<layout-columns class="columns is-centered">
  <layout-column class="is-5 mt-6 p-5 m-4 column box">
    <h2 class="title has-text-centered">
      Sign up
    </h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "is-flex is-flex-direction-column") do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="block">
        <%= f.label :email, class: "label" %>
        <%= f.email_field :email, class: "input", autofocus: true, autocomplete: "email" %>
      </div>
    
      <div class="block">
        <%= f.label :password, class: "label" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, class: "input",  autocomplete: "new-password" %>
      </div>
    
      <div class="block">
        <%= f.label :password_confirmation, class: "label" %>
        <%= f.password_field :password_confirmation, class: "input", autocomplete: "new-password" %>
      </div>
    
     
        <%= f.submit "Sign up", class: "button is-primary is-large is-align-self-flex-end mb-3 mt-3" %>
    
    <% end %>
    
    <%= render "devise/shared/links" %>
  </layout-column>
</layout-columns>









