<layout-columns class="is-centered columns">
  <layout-column class="is-5 mt-6 p-5 m-4 box column">
    <h2 class="title has-text-centered">
      Forgot your password?
    </h2>
    
    <%= form_for(resource, as: resource_name, class: "is-flex is-flex-direction-column", url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource, class: "mb-5 is-italic has-text-centered" %>
    
      <div class="block">
        <%= f.label :email, class: "label" %>
        <%= f.email_field :email, class: "input", autofocus: true, autocomplete: "email" %>
      </div>
    
      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "button is-primary is-align-self-flex-end mb-3 mt-3" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </layout-column>
</layout-columns>








