<nav class="navbar is-link" data-controller="navbar">
    <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do%>
            <strong class="is-size-3">PATA</strong>
        <% end %>

        <a role="button" class="navbar-burger" data-navbar-target="burger" data-action="navbar#toggle">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <navbar-menu class="navbar-menu" data-navbar-target="menu">
        <div class="navbar-start">
            <%= link_to "Create Ad", "#", class: "navbar-item" %>
            <%= link_to "Messages", "#", class: "navbar-item" if user_signed_in? %>
        </div>

        <div class="navbar-end">
            <%= tag.div class: "navbar-item has-dropdown is-hoverable mr-4" do %>
                <%= link_to current_user.email, "#", class: "navbar-link" %>

                <div class="navbar-dropdown is-right">
                    <%= link_to "Profile", "#", class: "navbar-item" %>
                    <%= link_to "My Ads", "#", class: "navbar-item" %>
                    <%= link_to "Saved Ads", "#", class: "navbar-item" %>
                    <hr class="navbar-divider">

                    <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "navbar-item"  %>
                </div>
            <% end if user_signed_in? %>

            <%= tag.div class: "navbar-item" do %>
                <div class="buttons">
                    <%= link_to "Sign Up", new_user_registration_path, class: "button is-primary" %>

                    <%= link_to "Login", user_session_path, class: "button is-light" %>
                </div>
            <% end unless user_signed_in? %>
        </div>
    </navbar-menu>
</nav>